.SearchCollection.searchBox
  %h2
    #{t(:search_collection)}
  .searchBox
    = form_tag(collection_collected_pages_path(@collection), method: "get") do |form|
      %button.searchButton
        %i.fa.fa-search{"aria-hidden": "false"}
      = text_field_tag(:cp_query, params[:cp_query], class: "form-control",
        placeholder: "#{t(:search_placeholder)}", required: "true")
      = hidden_field_tag('collection_id', @collection.id)