- collected_page = @collection.collected_pages
.container
  .col-md-3.col-sm-12.col-xs-12
    .collectionInfo
      .row
        .col-md-12.col-sm-3.col-xs-12.collectionImage
          %img{ src: "/assets/download.png", width: "250", height: "250"}/
        .col-md-12.col-sm-9.col-xs-12
          .collectionName
            #{@collection.name}
          .description
            #{@collection.description}
          - if (@collection.users.ids.first == current_user.id)
            .Edit_Delete
              %a.btn.btn-primary{ id: "#{@collection.id}", "aria-expanded": "true", "aria-haspopup": "true", "data-target": "#edit", "data-toggle": "modal", onclick: "showPopup(this)", role: "button"}
                #{t(:edit_button)}
              %nbsp
                = link_to "#{t(:delete_button)}", collection_path(id: @collection.id), method: :delete, data: { confirm: "#{t(:confirm_message)}"}, class: "btn btn-primary"
  = form_with(model: @collection, local: true) do |f|
    = f.hidden_field :user_id
    = hidden_field_tag 'user_id', '0'  
    .modal{ id: "popup_#{@collection.id}", "aria-labelledby": "popup_#{@collection.id}Label", role: "dialog", tabindex: "-1"}
      .modal-dialog{ role: "document"}
        .modal-content
          .modal-header
            .form-group.row.form-inline
              .col-md-10.col-sm-10.col-xs-10
                %h4.editLabel.modal-title #{t(:edit_collection)} 
              .col-md-2.col-sm-2.col-xs-2
                %button{ id: "#{@collection.id}", class: "close", tabindex: "1", onclick: 'hidePopup(this, event)'}x
          .modal-body.editCollection
            .form-group.row.form-inline
              %label.col-md-2.col-sm-3.col-xs-3.control-label
                #{t(:name)}
              .col-md-10.col-sm-9.col-xs-9
                %input.form-control.input-lg{ name: "collection[name]", placeholder: @collection.name, tabindex: "1", type: "text", value: @collection.name}
            .form-group.row.form-inline
              %label.col-md-2.col-sm-3.col-xs-3.control-label
                #{t(:description)}
              .col-md-10.col-sm-9.col-xs-9
                %textarea.form-control.input-lg{ name: "collection[description]", placeholder: @collection.description, rows: "3", tabindex: "1", type: "text", value: @collection.description}
          .modal-footer
            .form-group.row.form-inline
              .col-md-12.col-sm-12.col-xs-12
                = f.button("#{t(:update_collection_button)}", class: "btn btn-primary")
  .col-md-9.col-sm-12.col-xs-12
    .row
      .col-xs-12
        .SearchCollection.searchBox
          %h2
            #{t(:search_collection)}
          .searchBox
            = form_tag( collection_collected_pages_path(@collection), method: "get") do |form|
              %button.searchButton
                %i.fa.fa-search{"aria-hidden": "false"}
              = text_field_tag(:cp_query, params[:cp_query], class: "form-control", placeholder: "#{t(:search_placeholder)}", required: "true")
              = hidden_field_tag('collection_id', @collection.id)
              

      - @collection.collected_pages.each do |collected_page|
        .col-lg-3.col-md-4.col-sm-4.col-xs-12
          .collectionItem
            = link_to 'x',collected_page_path(id: collected_page.id), method: :delete, data: { confirm: "#{t(:confirm_message)}"}, class: "close" 
            .collectionImage
              = image_tag Page.find_by_id(collected_page.page_id).try(:media).size > 0 && !Page.find_by_id(collected_page.page_id).try(:media).first.base_url.nil? ? Page.find_by_id(collected_page.page_id).try(:media).first.base_url : "download.png", style: 'height:100;width:100;'
            .collectionName
              -unless collected_page.page.scientific_name.nil?         
                %a{ href: page_path(collected_page.page_id)} #{collected_page.page.scientific_name}
      .col-xs-12
      %br
