= form_with(model: @collection, local: true) do |f|
  = f.hidden_field :user_id
  = hidden_field_tag 'user_id', '0'  

  .uk-section.uk-grid{ uk: { grid: true } }
    .uk-width-3-4
      .uk-fieldset
        = label_tag(:name, nil, class: "uk-form-label")
        = f.text_field :name, class: "uk-input"
        = label_tag(:description, nil, class: "uk-form-label")
        = f.text_field :description, class: "uk-input"
    -# - if policy(@collection).update?
    .uk-width-1-4.actions
      = f.submit(class: "ui button")
      %br/
      = link_to t(:cancel), collection_path(@collection), class: "ui basic button"
