%h1= @collection.name
- unless @collection.description.blank?
  %h2= @collection.description
= link_to("Edit Collection", edit_collection_path(@collection), class: "btn btn-danger")
= link_to("Delete Collection", collection_path(@collection), method: "delete", data: { confirm: "Are You Sure You Want to Delete This Collection?"}, class: "btn btn-danger")

= render("collected_pages/show", collected_page: @collection.collected_pages)

%br/