.container
  = form_for(@user, url: user_providers_path, method: :post,
   html: {id: "hidden_form"}, remote: true, authenticity_token: true) do |form|
    = hidden_field_tag('email', params[:info][:email])
    = hidden_field_tag('provider', params[:provider])
    = hidden_field_tag('uid', params[:uid])
    = hidden_field_tag('username', params[:name])
    .form-group.row
      .col-md-6.col-sm-6.col-xs-6
        %input.form-control.input-lg{name: "user[email]", placeholder: "#{t(:enter_email)}", tabindex: "1",
         type: "text", required: true, style: "display: none;", id: "userEmail"}
    .form-group.row
      .col-md-6.col-sm-6.col-xs-6
        = form.button("#{t(:create_account)}", class: "btn btn-primary pull-right", style: "display: none;",
          id: "hidden_form_submit", type: "submit")
= javascript_include_tag "user_providers_hidden_form"