%script{ src: "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
.container
  .row
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form|
        %h2
          = t(:edit_user)
        %hr.colorgraph
        = devise_error_messages!
        .form-group
          = form.label t(:email)
          %br
          = form.email_field :email, autofocus: true, class: "form-control", disabled: "disabled"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            #{t(:waiting_confirmation)}: #{resource.unconfirmed_email}
        .form-group
          = form.label t(:username)
          = form.text_field :username, class: "form-control"
        -if resource.provider.nil?
          .form-group
            = form.label t(:password)
            %i
              = t(:leave_password_blank)
            %br
            = form.password_field :password, autocomplete: "off", class: "form-control"
          .form-group
            = form.label t(:password_confirmation)
            %br
            = form.password_field :password_confirmation, autocomplete: "off", class: "form-control"
          .form-group
            = form.label t(:current_password), required: true
            %i #{t(:password_placeholder)}
            %br
            = form.password_field :current_password, autocomplete: "off", class: "form-control"
            %br
        = form.submit "#{t(:update_button)}", class: "btn btn-primary"
        = link_to "#{t(:back)}", user_path(id: resource.id), class: "btn btn-primary"
