.container
  .row
    .col-md-12
%script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
%script{:src => "//code.jquery.com/jquery-1.11.1.min.js"}
.container
  .row
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        %h2
          Edit #{resource_name.to_s.humanize}
        %hr.colorgraph
        = devise_error_messages!
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :username
          = f.text_field :username, class: "form-control"
        .form-group
          = f.label :password
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, autocomplete: "off", class: "form-control"
          %br/
          = f.submit "Update", class: "btn btn-primary"
      %span
        %strong Cancel my account
      %p
        Unhappy? 
      =button_to(' Cancel my account',registration_path(resource_name), data: { confirm: "Are you sure?" }, 
        method: :delete, class: "btn btn-primary" ) 
      %span  
        = link_to "Back", :back
