= javascript_include_tag 'email'
= form_tag(omniauth_path(),method: :get) do
  = label "#{t(:email)}", "email"
  %input{ name: "value", type: "email", id: "value_id"}
  = submit_tag "enter", id: "enter" , onclick: "myFunction()"
  = hidden_field_tag('auth', request.env["omniauth.auth"])
