%content#Content1{:contentplaceholderid => "head", :runat => "Server"}
%content#Content2{:contentplaceholderid => "ContentPlaceHolder1", :runat => "Server"}
  .MainPath
  .container
    .row
      .col-xs-12.col-sm-8.col-md-6
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .input-group
          %hr.colorgraph
            .row
              .col-xs-12
                = resource_error_messages(@user)
          %h2
            Sign Up
            %small It's free and always will be.
          %hr.colorgraph/
          .row
            .col-xs-12
              .form-group
                %input.form-control.input-lg{:name => "user[username]", :placeholder => "User Name", :tabindex => "1", :type => "text"}/
          .row
            .col-xs-12
              .form-group
                %input.form-control.input-lg{:name => "user[email]", :placeholder => "Email Address", :tabindex => "2", :type => "email"}/
          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                %input.form-control.input-lg{:name => "user[password]", :placeholder => "Password", :tabindex => "3", :type => "password"}/
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                %input#password_confirmation.form-control.input-lg{:name => "user[password_confirmation]", :placeholder => "Confirm Password", :tabindex => "4", :type => "password"}/
          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                .checkbox
                  %label
                    %input#login-remember{:name => "remember", :type => "checkbox", :value => "1"}/
                    Remember me
          .row
            .col-xs-12.col-sm-6.col-md-6
              .form-group
                = f.label I18n.t(:recaptcha), required: true
                = recaptcha_tags(theme: 'clean', callback: 'recaptchaCallback')
                - if flash.any? { |name, msg| name == "recaptcha_error" }
                  %span.error
                    = I18n.t('recaptcha_error')
          .row
            .col-xs-12
              %input.btn.btn-success.btn-lg.btn-block{:type => "submit", :value => "Sign up"}/
          .row
            .col-md-12
              .login-or
                %hr.hr-or/
                %span.span-or.BGwhite or
          .row
            .col-md-12.text-center
              %p
                Sign up with your social network
            - if devise_mapping.omniauthable?
              - action = controller_name == 'registrations' ? "sign_up" : "sign_in"
              - if controller_name == 'registrations'
                - action = "sign_up"
                - action_name = "Sign Up"
              -else 
                - action = "sign_in"
                - action_name = "Sign In"
              .col-sm-4.form-group   
                %a.btn.btn-primary.btn-block{ href: "/users/auth/facebook?intent=#{action}&locale=en" }
                  %i.fa.fa-facebook
              .col-sm-4.form-group
                %a.btn.btn-primary.btn-block{ href: "/users/auth/twitter?intent=#{action}&locale=en" }
                  %i.fa.fa-twitter
              .col-sm-4.form-group
                %a.btn.btn-primary.btn-block{ href: "/users/auth/google_oauth2?intent=#{action}&locale=en" }
                  %i.fa.fa-google-plus
                