.container
  %table.customTable
    %thead
      %tr
        %th{ scope: "col"} #{t(:res_name)}
        %th{ scope: "col"} #{t(:cp_name)}
        %th{ scope: "col"} #{t(:harvest_status)}
    %tbody
      - @rows.each do |row|
        - content_partner_id = row["contentPartnerID"].to_i
        - resource_id = row["resourceID"].to_i
        %tr
          %td
            %a{href: "/resources/#{resource_id}/info","data-placement": "bottom"}
              = row["resourceName"]
          %td
            %a{href: content_partner_path(content_partner_id), "data-placement": "bottom"}
              = row["contentPartnerName"]
          %td
            = row["lastHarvestStatus"]
= will_paginate @rows, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer
