.container
  .row
    .col-lg-12
      %h2.mainTitle.resurceTitle
        %img{src: "/assets/download.png"}/
        = @resource.name
        %span.pull-right
          -if(current_user == @content_partner.user)
            %a.btn.btn-primary{ href: "#{edit_content_partner_resource_path(content_partner_id: @content_partner.id,id: params["id"])}", :role => "button"}
              #{t(:edit_button)}
    .col-md-8
      .part
        .subtitle
          #{t(:about_resource)}
        %p
          = @resource.description
        %p
          %strong #{t(:web)}:
          %a{ href: content_partner_resource_path(@content_partner.id, params["id"]), target: "_blank"} #{@resource.name}
      .part
        .subtitle
          #{t(:dataset)}
        %p
          %strong
            #{t(:type)}
          #{ @resource.type }
        -if @resource.type.eql?("url")
          %p
            %strong
              #{t(:uploaded_url)}
            #{ @resource.uploaded_url }
        -if @resource.type.eql?("file")
          %p
            %strong
              #{t(:file_path)}
            #{ @resource.path}
        %p
          %strong
            #{t(:default_language)}
          =Language.find(@resource.default_language_id).code
      .part
        .subtitle
          #{t(:rights_attribution)}
        %strong
          #{t(:dataset_license)}
        %p
          = License.find(@resource.dataset_license).name
        %strong
          #{t(:dataset_rights_holder)}
        %p
          = @resource.dataset_rights_holder
        %strong
          #{t(:dataset_rights_statement)}
        %p
          = @resource.dataset_rights_statement
        %strong
          #{t(:default_rights_holder)}
        %p
          = @resource.default_rights_holder
        %strong
          #{t(:default_rights_statement)}
        %p
          = @resource.default_rights_statement
        %strong
          #{t(:default_license_string)}
        %p
          = License.find(@resource.default_license_string).name
      .part
        .subtitle
          #{t(:processing_status_and_settings)}
        %strong
          #{t(:harvest_frequency)}
        %p
          = @resource.harvest_frequency
        %strong
          #{t(:auto_published)}
        %p
          = @resource.is_autopublished
      .part
        .subtitle
          #{t(:harvest_events)}   
        %strong
          #{t(:last_harvest)}
        %p
          -if @resource.last_harvested_at
            = Time.at(@resource.last_harvested_at)
    .col-md-4
      %aside
        .widget.categories.contentManger
          %span
            %b #{t(:managed_by)}
          .row
            .col-sm-12
              .single_comments
                %img{ alt: "", src: "/assets/avatar3.png"}/
                %p{ style: ""}
                  -#%a{:href => main_app.user_path(@content_partner.user)}
                  %a{ href: user_path(id: @content_partner.user.id)}
                    = @content_partner.user.username
    .col-md-4
      %aside
        .widget.categories.contentManger
          %span
            %b #{t(:content_partner_name)}
          .row
            .col-sm-12
              .single_comments
                %img{ alt: "", src: "/assets/avatar3.png"}/
                %p{ style: ""}
                  %a{ href: content_partner_path(id: @content_partner.id)}
                    = @content_partner.name

