= javascript_include_tag 'search'
= javascript_include_tag 'typeahead.bundle'
.searchBox
  = form_tag(search_path, method: :get) do
    .form-control
      = text_field_tag(:query, params[:query], placeholder: "#{t(:search_placeholder)}")
      %button.searchButton
        %i.fa.fa-search{"aria-hidden": "true"}