.container
  .row
    .col-md-12
      %h3.mainTitle{style: "font-size: 17;"}
        = link_to t(:Back_to_Articles_List), :back 
      %h2.mainTitle
        - name = @article.name
        - name ||= t("untitled")
        = name
    .col-md-8.col-sm-8
      .articleBlock
        -content_partner_id=ContentPartnerApi.get_content_partner_resource_id(@article.resource_id)
        -if !content_partner_id.nil?
          -result = ResourceApi.get_resource(content_partner_id["id"],@article.resource_id)
          -@resource = Resource.new( name: result["name"],origin_url: result["original_url"],uploaded_url: result["uploaded_url"],
                    type: result["type"],path: result["path"],last_harvested_at: result["last_harvested_at"],harvest_frequency: result["harvest_frequency"],
                    day_of_month: result["day_of_month"],nodes_count: result["nodes_count"],position: result["position"],is_paused: result["_paused"],
                    is_approved: result["_approved"],is_trusted: result["_trusted"],is_autopublished: result["_autopublished"],is_forced: result["_forced"],
                    dataset_license: result["dataset_license"],dataset_rights_statement: result["dataset_rights_statement"],
                    dataset_rights_holder: result["dataset_rights_holder"],default_license_string: result["default_license_string"],
                    default_rights_statement: result["default_rights_statement"],default_rights_holder: result["default_rights_holder"],
                    default_language_id: result["default_language_id"])
          %div{ style: "color: #8F8F8F; margin-bottom: 10px;"}
            #{t(:provided_by)} 
        -else
          = t(:content_partner_missing)
          %br
          -if !@resource.nil?
            = link_to(@resource.name, content_partner_resource_path(content_partner_id["id"], result["id"]))
          -else
            = t(:resource_missing)
        %p
          %object{ width: "100%", height: "100%"}
            %p
              =@article.body.html_safe
    .col-md-4.col-sm-4
      .well
        %p
          %b #{t(:license)}:
          = link_to(@license.name,@license.source_url)
          %br/
          %b #{t(:owner)}:
          = @article.owner
        %p
          - @article.attributions.each do |attribution|
             
            %b= attribution.role_name
            %b=":"
            = attribution.value
        %p
          %b #{t(:resource_label)}:
          -if !@resource.nil?
            = link_to(@resource.name, content_partner_resource_path(content_partner_id["id"], result["id"]))
          -else
            = t(:resource_missing)
          %br/
          %b #{t(:resource_pk)}:
          = @article.resource_pk
