.container
  .row
    .col-md-12
      %h3.mainTitle{style: "font-size: 17;"}
        = link_to t(:Back_to_Articles_List), page_articles_path(@page_id) 
      %h2.mainTitle
        - name = @article.name
        - name ||= t("untitled")
        = name
    .col-md-8.col-sm-8
      .articleBlock
        - if @content_partner_id.nil?
          = t(:content_partner_missing)
          %br
          - if @resource.nil?
            = t(:resource_missing)
          - else
            = link_to(@resource.name, content_partner_resource_path(@content_partner_id["id"], @result["id"]))
        - else
          %div{ style: "color: #8F8F8F; margin-bottom: 10px;"}
            #{t("content_attributions_labels.provided_by")}: 
            = @content_partner_id["name"]
        %p
          %object{width: "100%", height: "100%"}
            %p
              = @article.body.html_safe
    .col-md-4.col-sm-4
      .well
        %p
          %b #{t(:license)}:
          = link_to(@license.name, @license.source_url)
          %br
          %b #{t(:owner)}:
          = @article.owner
          - unless @article.attributions.empty?
            - @attributions.each do |key, values|
              %br/
              %b
                = key
              %b
                = ":"
              - values.each_with_index do |value, index|
                = value.value
                - if index != values.size-1
                  = ", "
          %br/
          %b #{t(:resource_label)}:
          - if @resource.nil?
            = t(:resource_missing)
          - else
            = link_to(@resource.name, content_partner_resource_path(@content_partner_id["id"], @result["id"]))
          %br/
          %b #{t(:resource_pk)}:
          = @article.resource_pk
