.Parameters
- unless @api_method.parameters.blank?
  %h3.Special Parameters
  %table.customTable
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Values
        %th{:scope => "col"} Default
        %th{:scope => "col"} Notes
    %tbody
      - @api_method.parameters.each do |p|
        %tr
          %td{"data-label" => "Name"} 
            = p.name
          %td{"data-label" => "Values"} 
            -if p.array?
              = p.values.join(",")
            -elsif p.range?
              = "#{p.values.min} - #{p.values.max}"
            -elsif p.values
              = p.values
            -elsif p.integer?
              %em= "any integer" 
            -elsif p.string?
              %em= "any string"
            -elsif p.boolean?
              = "true, false"
          %td{"data-label" => "Default"} 
            -if p.default
              = p.default.to_s
            -elsif p.default == false
              = "false"
            -else
              %em= "---"
          %td{"data-label" => "Notes"} 
            = raw(p.notes)
-else
  %p
    %em= "None"  
