.Parameters
- unless @api_method.parameters.blank?
  %h3.Special Parameters
  %table.customTable
    %thead
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Values
        %th{scope: "col"} Default
        %th{scope: "col"} Notes
    %tbody
      - @api_method.parameters.each do |parameter|
        %tr
          %td{"data-label": "Name"} 
            = parameter.name
          %td{"data-label": "Values"} 
            - if parameter.array?
              = parameter.values.join(",")
            - elsif parameter.range?
              = "#{parameter.values.min} - #{parameter.values.max}"
            - elsif parameter.values
              = parameter.values
            - elsif parameter.integer?
              %em = "any integer"
            - elsif parameter.string?
              %em = "any string"
            - elsif parameter.boolean?
              = "true, false"
          %td{"data-label": "Default"} 
            - if parameter.default
              = parameter.default.to_s
            - elsif parameter.default == false
              = "false"
            - else
              %em = "---"
          %td{"data-label": "Notes"}
            = raw(p.notes)
- else
  %p
    %em = "None"
