= javascript_include_tag 'terms'
-#%li.trait.js-data-row{ :data => { :'show-path' => datum_path(:id => trait[:id], :show_taxon => show_taxon), :id => trait[:id] }}
  -# - pages = [] unless local_assigns.has_key?(:pages)
  -# - page_id = trait[:page_id]
- if (trait[:metadata] && trait[:metadata].any?) 
  %ul.meta-items.js-meta-items
    -if trait[:trait][:source]
      %li
        %strong Source: 
        %nbsp 
          = link_to "#{trait[:source]}"
        %br
    - if trait[:scientific_name]
      -# %li.meta-item
      %li
        %strong
          Scientific Name:
        %nbsp
          #{trait[:scientific_name]}
    - Array(trait[:metadata]).each do |datum|
      -# Skip duplicated source:
      - next if datum[:predicate][:uri] == 'http://purl.org/dc/terms/source'
      %li
        #{datum[:predicate][:name]}
        %nbsp
          - show_data_value(datum)
        %ul.desc-meta
          %li
            %strong
              uri:
            %nbsp
              #{datum[:predicate][:uri]}
          %li
            %strong
              definition:
            %nbsp
              #{datum[:predicate][:definition]}
