= javascript_include_tag 'terms'
%li.trait.js-data-row{ :data => { :'show-path' => datum_path(:id => trait[:id], :show_taxon => show_taxon), :id => trait[:id] }}
  - pages = [] unless local_assigns.has_key?(:pages)
  - page_id = trait[:page_id]
  - if (trait[:metadata] && trait[:metadata].any?) || (open_row && (trait[:source] || trait[:scientific_name] || page))
    %ul.meta-items.js-meta-items
      - Array(trait[:metadata]).each do |datum|
        -# Skip duplicated source:
        - next if datum[:predicate][:uri] == 'http://purl.org/dc/terms/source'
        %li.meta-item
          %div
            .meta-pred.a= datum[:predicate][:name]
            = render :partial => "terms/desc_meta", :locals => { :term => datum[:predicate], :search_link => false }
          .meta-val
            - show_data_value(datum)
            - if datum[:object_term]
              = render :partial => "terms/desc_meta", :locals => { :term => datum[:object_term], :search_link => false }
      - if trait[:source]
        %li.meta-item
          .meta-pred= t("terms.source")
          - is_uri = URI.parse(trait[:source]).kind_of?(URI::HTTP) rescue nil
          .meta-val= is_uri ? link_to(trait[:source], trait[:source]) : trait[:source]
      - if trait[:scientific_name]
        %li.meta-item
          .meta-pred= "Scientific Name"
          .meta-val= trait[:scientific_name].html_safe

