= javascript_include_tag 'terms'
- if (trait[:metadata] && trait[:metadata].any?) 
  %ul.meta-items.js-meta-items
    -if trait[:trait][:source]
      %li
        %strong #{t(:source)}:
        %nbsp 
          = link_to "#{trait[:source]}"
        %br
    - if trait[:scientific_name]
      -# %li.meta-item
      %li
        %strong
          #{t(:scientific_name)}:
        %nbsp
          #{trait[:scientific_name]}
    - Array(trait[:metadata]).each do |datum|
      -# Skip duplicated source:
      - next if datum[:predicate][:uri] == 'http://purl.org/dc/terms/source'
      %li
        #{datum[:predicate][:name]}
        %nbsp
          - show_data_value(datum)
        %ul.desc-meta
          %li
            %strong
              #{t(:uri)} :
            %nbsp
              #{datum[:predicate][:uri]}
          - if datum[:predicate][:definition]
            %li
              %strong
                #{t(:definition)}:
              %nbsp
                #{datum[:predicate][:definition]}
