%script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
.container
  .row
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      = form_for(@user, url: user_registration_admin_path(@user.id), html: {method: :put}) do |form|
        %h2
          #{t(:edit_user)}
        .form-group
          = hidden_field_tag(:id, params[:user_id])
          = form.label t(:email)
          %br
          = form.email_field :email, autofocus: true, class: "form-control", disabled: "disabled"
        .form-group
          = form.label t(:username)
          = form.text_field :username, class: "form-control"

        = form.submit "#{t(:update_button)}", class: "btn btn-primary"
        = link_to "#{t(:back)}", users_path, class: "btn btn-primary"
