= javascript_include_tag "search_users"
.container
  .col-lg-9
    .row
      .col-lg-12
        %h2.mainTitle
          #{t(:search_results)}
        %br
  = render "header_buttons"
  .col-lg-9
    = render "index"

  = render "sort_box"

= render "search_users"
