.container
  .row
    .col-lg-12
      %br
      %h2.mainTitle.resurceTitle
        #{t(:user_profile)}
    .col-md-8
      .greyBox.userInfo.part
        %h3
          #{t(:user_info)}
          %span.pull-right
            -if @user.id == current_user.id
              %a{href: edit_user_registration_path} #{t(:edit_button)}
        %hr/
        .row
          .col-lg-2.col-md-2.col-sm-2
            %img.img-responsive{ alt: "", src: "/assets/avatar3.png"}/
          .col-lg-10.col-md-10.col-sm-10.col-xs-12
            .form-horizontal
              .form-group
                .form-group
                  %label.col-lg-3.col-md-4.col-sm-3.col-xs-12.control-label{for: "inputPassword3"} #{t(:username)}
                  .col-lg-9.col-md-8.col-sm-7.col-xs-12
                    .form-text
                      = @user.username
                .form-group
                  %label.col-lg-3.col-md-4.col-sm-3.col-xs-12.control-label{for: "inputEmail3"} #{t(:email)}
                  .col-lg-9.col-md-8.col-sm-7.col-xs-12
                    .form-text
                      =@user.email
      .widget.categories.collectionBox
        .greyBox
          %h3.collectionIcon
            #{t(:collections)}
          %hr/
          .row
            .col-sm-12
              -if @user.collections.empty?
                %p
                  #{t(:no_collections_yet)}
              -else
                -@collections.each do |collection|
                  %span.pull-right
                  .single_comments
                    %img{ alt: "", src: "/assets/download.png"}/
                    .collectionName
                      %a{ href: collection_path(id: collection.id)} #{collection.name}
                      %div    
                        %small
                          #{collection.collected_pages_count} #{t(:items)}; #{t(:last_updated_at)} #{time_ago_in_words(collection.updated_at)} #{t(:ago)}
                    .clearfix
    .col-md-4
      %aside
        .widget.categories.collectionBox
          .greyBox
            %h3.collectionIcon
              #{t(:content_partners)}
              -if @user.id == current_user.id
                %a.btn-addResource{href: "#{ new_content_partner_path}"}
                  %span.pull-right  +
            %hr/
            .row
              .col-sm-12
                -content_partner = ContentPartnerUser.where("user_id = ? ", params[:id]).first
                -if content_partner.nil?
                  %p
                    #{t(:no_content_partners)}
                -else
                  - @content_partner_ids.each do |content_partner_id|
                    -result = ContentPartnerApi.get_content_partner_without_resources(content_partner_id)
                    %span.pull-right
                      -if @user.id == current_user.id
                        %a{ href: edit_content_partner_path(id: result["id"])} #{t(:edit_button)}
                    .single_comments
                      -if result["logoPath"] == "path"
                        %img{ alt: "", src: "/assets/avatar3.png"}/
                      -else
                        %img{ alt: "", src: result["logoPath"]}/
                      %a{ href: content_partner_path(id: content_partner_id)}
                        =result["name"]
                      .clearfix
                    .clearfix