.container
  .col-md-30.col-sm-12.col-xs-12
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
      = devise_error_messages!
      .col-md-20.col-sm-12.col-xs-12
        %h2
          #{t(:forgot_pw)}
          %br/
        .form-group.row.form-inline
          %label.col-md-5.col-sm-3.col-xs-3.control-label
            %h3
              #{t(:email)}
        .form-group.row.form-inline
          .col-md-10.col-sm-6.col-xs-6
            %input.form-control.input-lg{ name: "user[email]", placeholder: "#{t(:enter_email)}",
             tabindex: "1", type: "text", required: true}
        .form-group.row.form-inline
          .col-md-5.col-sm-3.col-xs-3
            = f.button("#{t(:resend_pw)}", class: "btn btn-primary")
