= javascript_include_tag 'pages'
= javascript_include_tag 'jquery.lazyload'
.container
  %h2.mainTitle
    %span{ style: "padding-bottom: 10px; display: inline-block"}
      = @page.scientific_name
    .pull-right
      = render("tabs")
    .clearfix
  .col-md-8
    -if @maps
      %h3.smallTitle #{t(:maps)}
    -else
      %h3.smallTitle #{t(:media)}
    = render_async media_grid_path( page_id: @page.id, page: params[:page], maps: !@maps.nil?) do
      .col-md-offset-4
        =image_tag "loading.gif", alt: ""
  .col-md-4
    %aside
      .widget.categories
        %h3 #{t(:taxon_card)}
        .row
          .col-sm-12
            .single_comments
              .col-lg-2.col-md-3.col-sm-1.col-xs-3.collectionImage.no-padding
                = image_tag "download.png"
              .col-lg-10.col-md-9.col-sm-11.col-xs-9
                %b 
                  #{@page.scientific_name}

            -#.widget.blog_gallery
              -#%h3 #{t(:refresh_memory)}
              -#%ul.sidebar-gallery
                -#%li
                  -#%a{:href => "http://fieldguides.eol.org/memory/"}
                    -#=image_tag "memory-game-icon.png", :alt => ""
