= javascript_include_tag 'pages'
= javascript_include_tag 'jquery.lazyload'
.container
  .row
    .col-md-12.blog
      .row
        .col-lg-12
          %br
          %h2.TaxonName
            = @page.scientific_name
            = render("tabs")
        .col-md-8
          -if @maps
            %h3.smallTitle Maps
          -else
            %h3.smallTitle Media
          = render_async media_grid_path(:page_id => @page.id, :page => params[:page])
        .col-md-4
          %aside
            .widget.categories
              %h3 #{t(:taxon_card)}
              .row
                .col-sm-12
                  .single_comments
                    %b= @page.scientific_name
                    =image_tag "avatar3.png", :alt => ""

            -#.widget.blog_gallery
              -#%h3 #{t(:refresh_memory)}
              -#%ul.sidebar-gallery
                -#%li
                  -#%a{:href => "http://fieldguides.eol.org/memory/"}
                    -#=image_tag "memory-game-icon.png", :alt => ""
