.row
  .col-md-12
    .Description
    %p.alert-secondary{:role => "alert"}
      %i.fa.fa-info-circle{"aria-hidden" => "true"}>
      #{t(:scientific_name_description)}
    %br/
.row
  .col-md-12  
    - @scientific_names.group_by {|n| n.taxonomic_status.name }.each do |status, names|
      %h3.Special 
        = status
        %table.customTable
          %thead
            %tr
              %th{:scope => "col"} #{t(:scientific_name)}
              %th{:scope => "col"} #{t(:scientific_name_source)}
          %tbody
            -scientific_names_resources = get_resources(names)
            -scientific_names_resources.each do |name, resource|
              %tr
                %td{"data-label" => "#{t(:scientific_name)}"} 
                  = name
                %td{"data-label" => "#{t(:scientific_name_source)}"} 
                  -if !scientific_names_resources[name].nil?
                    - scientific_names_resources[name].each do |resource|
                      - if !resource.nil?
                        -if resource.equal?(scientific_names_resources[name].last)
                          = resource.name
                        -else
                          = resource.name+"," 
                      - else
                        = #{t(:unknown_resource)}
