= javascript_include_tag 'pages'
-# = hidden_field_tag('collection_id', @collection.id)
%small
%span.dropdown.pull-right
  %a.dropdown-toggle.btn.btn-primary.exploreTaxonBtn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    #{t(:explore_taxon)}
    %span.caret
  %ul#menu1.dropdown-menu{"aria-labelledby" => "drop4"}
    %li
      %a{:href => page_path(@page)} #{t(:overview)}
    %li
      %a{:href => names_page_path(@page)} #{t(:names)}
    - if @page.media.size > 0
      %li
        %a{:href => page_media_path(@page)} #{t(:media)}
    -if @page.referents.size > 0
      %li
        %a{:href => page_literature_and_references_path(@page)} #{t(:literature_and_references_header)}
    -if @page.data.size > 0
      %li
        %a{:href => page_data_path(@page)} #{t(:data)}
    %li
      %a{:href => page_maps_path(@page)} #{t(:maps)}
%small
%span.dropdown.pull-right
  =link_to "#{t(:collect_button)}", new_collected_page_path(page_id: @page.id), class: "btn btn-primary"
.page_topics{ data: { id: @page.id } }    

