= javascript_include_tag 'data'
= render("tabs")

- build_associations(@page)

.container
  .row
    .col-md-12.blog
      .row
        .col-md-8
          %br
          %h2.TaxonName
            = @page.scientific_name
            = render("tabs") 
          %table.customTable
            %tbody
              - @page.predicates.each_with_index do |uri, index|
                - predicate = @page.glossary[uri]
                - if predicate.nil?
                  - Rails.logger.error("** ERROR: missing predicate #{uri}")
                  - next
                - @page.grouped_data[uri].each do |trait|
                  %trait.js-data-row{ :data => { :'show-path' => datum_path(:id => trait[:id], :show_taxon => false), :id => trait[:id] } }
                    - predicate = trait[:predicate]
                    - uri = predicate[:uri].dup
                    - uri.sub! '/', '_'
                    %tr
                      %td 
                        %div
                          = predicate[:name]
                          %span.glyphicon.glyphicon-info-sign{"data-label" => "#{t(:name)}", :id => "#{uri}", :onmouseover =>"showOver(this)", :onmouseout=>"hideOver(this)"}
                        %div{:id => "hover_#{uri}", :style=> "display:none;"}
                          uri:  #{predicate[:uri]}
                          %br
                          definition: #{predicate[:definition]}

                        -# %div{:id => "#{uri}", :onclick=> 'showPopup(this)'}
                        %div{:id => "#{uri}"}
                          %i.fa.fa-angle-down.fa-2x.meta-items-arw.js-load-arw
                      -if trait[:object_term]
                        %td{"data-label" => "#{t(:object_term)}"} #{trait[:object_term][:name]}
                      -if trait[:units]
                        %td{"data-label" => "#{t(:units)}"} #{trait[:units][:name]}
                      %td{"data-label" => "#{t(:source)}"} #{show_source_segment(trait)}
                    %div{ :id => "popup_#{uri}", :style=> "display:none;", :class => "popup"}
                      - if trait[:metadata] && trait[:metadata].any?
                        -debugger
                        %ul.meta-items.js-meta-items
                        - trait[:metadata].each do |datum|
        .col-md-4
          %aside
            .widget.categories
              %h3 #{t(:taxon_card)}
              .row
                .col-sm-12
                  .single_comments
                    %b= @page.scientific_name
                    =image_tag "avatar3.png", :alt => ""

            .widget.blog_gallery
              %h3 #{t(:refresh_memory)}
              %ul.sidebar-gallery
                %li
                  %a{:href => "https://education.eol.org/memory/"}
                    =image_tag "memory-game-icon.png", :alt => ""


-# - cache(page_data_path(@page), expires_in: 1.day) do 
  -# %ul.traits
    -# - @page.predicates.each_with_index do |uri, index|
      -# - predicate = @page.glossary[uri]
      -# - if predicate.nil?
        -# - Rails.logger.error("** ERROR: missing predicate #{uri}")
        -# - next
      -# - @page.grouped_data[uri].each do |trait|
        -# = render :partial => "terms/data_row", :locals => { :page => @page, :trait => trait, :show_taxon => false }
