-# = javascript_include_tag 'terms'
.container
  .row
    .col-md-12.blog
      .row
        .col-md-8
          %h2.TaxonName
            = @page.scientific_name
        .col-md-4
          = render "tabs"
      .row
        .col-md-8
          %table.customTable
            %thead
              %tr
                %th{:scope => "col"} Predicate
                %th{:scope => "col"} Object
                %th{:scope => "col"} Units
                %th{:scope => "col"} Resource
                %th{:scope => "col"} Further Info
                %th{:scope => "col"} Metadata
            %tbody
              -counter1 = 0
              - @page.predicates.each_with_index do |uri, index|
                - predicate = @page.glossary[uri]
                - if predicate.nil?
                  - Rails.logger.error("** ERROR: missing predicate #{uri}")
                  - next
                - @page.grouped_data[uri].each do |trait|
                  -counter1 = counter1 + 1
                  -# %trait.js-data-row{ :data => { :'show-path' => datum_path(:id => trait[:id], :show_taxon => false), :id => trait[:id] } }
                  - predicate = trait[:predicate]
                  - uri = predicate[:uri].dup
                  - uri.sub! '/', '_'
                  -# - debugger
                  %tr
                    %td
                      %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{uri}\ndefinition: #{predicate[:definition]} ", :type => "button"}
                        #{predicate[:name]}
                        
                    -if trait[:object_term]
                      %td
                        %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri: #{trait[:object_term][:uri]}\ndefinition: #{trait[:object_term][:definition]} ", :type => "button"}
                          #{trait[:object_term][:name]}
                    - elsif trait[:normal_measurement]
                      %td
                        %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :type => "button"}
                          #{trait[:normal_measurement]}
                    - else
                      %td{"data-label" => "Object"}
                         
                    -if trait[:units]
                      %td
                        %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri: #{trait[:units][:uri]}\ndefinition: #{trait[:units][:definition]} ", :type => "button"}
                          #{trait[:units][:name]}
                    - else
                      %td{"data-label" => "Units"}
                    %td{"data-label" => "#{t(:source)}"} #{show_source_segment(trait)}

                    %td
                      %div
                        -# modal view with additional information: 'Citation, Source, RecordURL, ScientificName, Statistical Method, URI, DEfinition'
                        %a.btn.btn{:id => "#{counter1}", "aria-expanded" => "true", "aria-haspopup" => "true", "data-target" => "#edit", "data-toggle" => "modal", :onclick => "showPopup(this)", :role => "button"}
                          -# %span.glyphicon.glyphicon-info-sign{"data-label" => "#{t(:name)}"}
                          See More

                    
                    - if(TraitBank.has_meta?(trait[:id]))
                      %td
                        %div{:id => "#{uri}"}
                          %a.btn.btn{:id => "#{counter1}T", "aria-expanded" => "true", "aria-haspopup" => "true", "data-target" => "#edit", "data-toggle" => "modal", :onclick => "showPopup(this)", :role => "button"}
                            -# %span.glyphicon.glyphicon-info-sign{"data-label" => "#{t(:name)}"}
                            %i.fa.fa-angle-down.fa-2x.meta-items-arw.js-load-arw
                      .modal{:id => "popup_#{counter1}T", "aria-labelledby" => "popup_#{counter1}TLabel", :role => "dialog", :tabindex => "-1"}
                        .modal-dialog.modal-med{:role => "document"}
                          .modal-content
                            .modal-header
                              .form-group.row.form-inline
                                .col-md-10.col-sm-10.col-xs-10
                                  %h2.editLabel.modal-title Metadata
                                .col-md-2.col-sm-2.col-xs-2
                                  %button{ :id =>"#{counter1}T", :class => "btn btn-primary pull-right", :tabindex => "1", :onclick=> 'hidePopup(this, event)'}x
                            .modal-body.editCollection
                              %trait.js-data-row{ :data => { :'show-path' => datum_path(:id => trait[:id], :show_taxon => false), :id => trait[:id] }, :id=> "#{counter1}TT" }
                    - else
                      %td
                  .modal{:id => "popup_#{counter1}", "aria-labelledby" => "popup_#{counter1}Label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog.modal-med{:role => "document"}
                      .modal-content
                        .modal-header
                          .form-group.row.form-inline
                            .col-md-10.col-sm-10.col-xs-10
                              %h2.editLabel.modal-title Further Information
                            .col-md-2.col-sm-2.col-xs-2
                              %button{ :id =>"#{counter1}", :class => "btn btn-primary pull-right", :tabindex => "1", :onclick=> 'hidePopup(this, event)'}x
                        .modal-body.editCollection
                          %strong Scientific Name: 
                          %nbsp #{@page.scientific_name} 
                          %br
                          -if trait[:lifestage_term]
                            %strong Lifestage Term:
                            %nbsp 
                              %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{trait[:lifestage_term][:uri]}\ndefinition: #{trait[:lifestage_term][:definition]} ", :type => "button"}
                                #{trait[:lifestage_term][:name]}
                            %br
                          -if trait[:sex_term]
                            %strong Sex Term: 
                            %nbsp 
                              %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{trait[:sex_term][:uri]}\ndefinition: #{trait[:sex_term][:definition]} ", :type => "button"}
                                #{trait[:sex_term][:name]}
                            %br
                          -if trait[:statistical_method_term]
                            %strong Statistical Method: 
                            %nbsp 
                              %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{trait[:statistical_method_term][:uri]}\ndefinition: #{trait[:statistical_method_term][:definition]} ", :type => "button"}
                                #{trait[:statistical_method_term][:name]}
                              %br
                          -if trait[:citation]
                            %strong Citation: 
                            %nbsp 
                              #{trait[:citation]}
                            %br
                          -if trait[:trait][:source]
                            %strong Source: 
                            %nbsp 
                              = link_to "#{trait[:source]}"
                            %br

        .col-md-4
          %aside
            .widget.categories
              %h3 #{t(:taxon_card)}
              .row
                .col-sm-12
                  .single_comments
                    %b= @page.scientific_name
                    =image_tag "avatar3.png", :alt => ""

            .widget.blog_gallery
              %h3 #{t(:refresh_memory)}
              %ul.sidebar-gallery
                %li
                  %a{:href => "http://fieldguides.eol.org/memory/"}
                    =image_tag "memory-game-icon.png", :alt => ""

