-# = javascript_include_tag 'terms'
.container
  .row
    .col-md-12.blog
      .row
        .col-md-8
          %h2.TaxonName
            = @page.scientific_name
        .col-md-4
          = render "tabs"
      .row
        .col-md-8
          %table.customTable
            %thead
              %tr
                %th{:scope => "col"} Predicate
                %th{:scope => "col"} Object
                %th{:scope => "col"} Units
                %th{:scope => "col"} Resource
                %th{:scope => "col"} Further Info
                %th{:scope => "col"} Metadata
            %tbody
              - @page.predicates.each_with_index do |uri, index|
                - predicate = @page.glossary[uri]
                - if predicate.nil?
                  - Rails.logger.error("** ERROR: missing predicate #{uri}")
                  - next
                - @page.grouped_data[uri].each do |trait|
                  - predicate = trait[:predicate]
                  - uri = predicate[:uri].dup
                  - uri.sub! '/', '_'
                  %tr
                    %td
                      %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{uri}\ndefinition: #{predicate[:definition]} ", :type => "button"}
                        #{predicate[:name]}
                        
                    -if trait[:object_term]
                      %td
                        %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{uri}\ndefinition: #{predicate[:definition]} ", :type => "button"}
                          #{trait[:object_term][:name]}
                    - else
                      %td{"data-label" => "Object"}
                         
                    -if trait[:units]
                      %td
                        %a{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "uri:  #{uri}\ndefinition: #{predicate[:definition]} ", :type => "button"}
                          #{trait[:units][:name]}
                    - else
                      %td{"data-label" => "Units"}
                    %td{"data-label" => "#{t(:source)}"} #{show_source_segment(trait)}

                    %td
                      %div
                        -# modal view with additional information: 'Citation, Source, RecordURL, ScientificName, Statistical Method, URI, DEfinition'
                        %a.btn.btn{:id => "#{@page.id}", "aria-expanded" => "true", "aria-haspopup" => "true", "data-target" => "#edit", "data-toggle" => "modal", :onclick => "showPopup(this)", :role => "button"}
                          -# %span.glyphicon.glyphicon-info-sign{"data-label" => "#{t(:name)}"}
                          See More
                    %td
                      %div{:id => "#{uri}"}
                        %a.btn.btn{:id => "#{@page.id}00", "aria-expanded" => "true", "aria-haspopup" => "true", "data-target" => "#edit", "data-toggle" => "modal", :onclick => "showPopup(this)", :role => "button"}
                          -# %span.glyphicon.glyphicon-info-sign{"data-label" => "#{t(:name)}"}
                          %i.fa.fa-angle-down.fa-2x.meta-items-arw.js-load-arw
                          -# Show

                  .modal{:id => "popup_#{@page.id}00", "aria-labelledby" => "popup_#{@page.id}00Label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog.modal-med{:role => "document"}
                      .modal-content
                        .modal-header
                          .form-group.row.form-inline
                            .col-md-10.col-sm-10.col-xs-10
                              %h2.editLabel.modal-title Metadata
                            .col-md-2.col-sm-2.col-xs-2
                              %button{ :id =>"#{@page.id}00", :class => "btn btn-primary pull-right", :tabindex => "1", :onclick=> 'hidePopup(this, event)'}x
                        .modal-body.editCollection
                          %trait.js-data-row{ :data => { :'show-path' => datum_path(:id => trait[:id], :show_taxon => false), :id => trait[:id] } }

                  .modal{:id => "popup_#{@page.id}", "aria-labelledby" => "popup_#{@page.id}Label", :role => "dialog", :tabindex => "-1"}
                    .modal-dialog.modal-med{:role => "document"}
                      .modal-content
                        .modal-header
                          .form-group.row.form-inline
                            .col-md-10.col-sm-10.col-xs-10
                              %h2.editLabel.modal-title Further Information
                            .col-md-2.col-sm-2.col-xs-2
                              %button{ :id =>"#{@page.id}", :class => "btn btn-primary pull-right", :tabindex => "1", :onclick=> 'hidePopup(this, event)'}x
                        .modal-body.editCollection
                          Lifestage Term: xxxxx
                          %br
                          Sex Term: xxxxxx
                          %br
                          Statistical Method: xxxxxxx
                          %br
                          Scientific Name: #{@page.scientific_name} 
                          %br
                          Record URL: #{request.url}/#trait_id=#{trait[:id]}
                          


        .col-md-4
          %aside
            .widget.categories
              %h3 #{t(:taxon_card)}
              .row
                .col-sm-12
                  .single_comments
                    %b= @page.scientific_name
                    =image_tag "avatar3.png", :alt => ""

            .widget.blog_gallery
              %h3 #{t(:refresh_memory)}
              %ul.sidebar-gallery
                %li
                  %a{:href => "http://fieldguides.eol.org/memory/"}
                    =image_tag "memory-game-icon.png", :alt => ""

