.container
  %h2.mainTitle
    %span{ style: "padding-bottom: 10px; display: inline-block"}
      = @page.scientific_name
    .pull-right
      = render("tabs")
    .clearfix
  .row
    .col-md-8
      = render("maps")
    .col-md-4
      %aside
        .widget.categories
          %h3 #{t(:taxon_card)}
          .row
            .col-sm-12
              .single_comments
                = @page.scientific_name
                = image_tag "avatar3.png", alt: ""
        .widget.blog_gallery
          %h3 #{t(:refresh_memory)}
          %ul.sidebar-gallery
            %li
              %a{ href: "http://fieldguides.eol.org/memory/"}
                = image_tag "memory-game-icon.png", alt: ""
