.desc
  %h2= 'Scientific Names'
  %div.uk-grid-small.uk-child-width-1-3{ uk: { grid: true }, class: "uk-child-width-expand@s" }
    - @scientific_names.group_by {|n| n.taxonomic_status.name }.each do |status, names|
      = status
      %br
      -names.each do |name|
        =name.canonical_form
        %br
        -unless @scientific_names_resources[name].nil?
          %p= 'Recognized by ' + @scientific_names_resources[name].name + ','
    %br
    = "_________________________"  
  %h2= 'Vernaculars'
  %div
    - if @vernaculars.empty?
      = 'No vercaulars for this page'
    - else  
      - @vernaculars.group_by { |n| n.language.code }.each do |language, names|
        = language
        %br
        -names.each do |name|
          = name.string
          %br
          %p= 'Recognized by '+ @vernaculars_resources[name].name unless @vernaculars_resources[name].nil? + ','
      %br
      = '_______________________'  
  = render('pages/classification')
