= render("tabs")
.desc
  %h2= 'Scientific Names'
  %div.uk-grid-small.uk-child-width-1-3{ uk: { grid: true }, class: "uk-child-width-expand@s" }
    - @scientific_names.group_by {|n| n.taxonomic_status.name }.each do |status, names|
      = status
      %br
      -scientific_names_resources = get_resources(names)
      -scientific_names_resources.each do |name, resource|
        = name
        %br
        = 'Recognized by '
        -if !scientific_names_resources[name].nil?
          - scientific_names_resources[name].each do |resource| 
            = resource.name
        %br
    = "_________________________"  
  %h2= 'Vernaculars'
  %div
    - if @vernaculars.empty?
      = 'No vercaulars for this page'
    - else  
      - @vernaculars.group_by { |n| n.language.code }.each do |language, names|
        = language
        %br
        -vernaculars_resources = get_resources(names)
        -vernaculars_resources.each do |name, resource|
          = name
        %br
        = 'Recognized by '
        -if !vernaculars_resources[name].nil?
          - vernaculars_resources[name].each do |resource| 
            = resource.name
        %br
    = "_________________________"
= render('pages/classification')
