.container
  .row
    .col-md-12.blog
      .row
        .col-lg-12
          %br
          %h2.TaxonName
            = @page.scientific_name
            = render("tabs")
        .col-md-8
          .blog-item
            - image = @page.media.first
            - unless image.nil?
              %img.img-responsive{:alt => "", :src => image.base_url, :width => "100%"}/
            .row.ImgMetaData
              .col-xs-12
                .entry-meta
                  %span#publish_date
                    = @page.scientific_name
                    - unless image.nil?
                      - content = image.page_contents.find { |c| c.content_id == image.id }
                    - unless content.trust.nil?   
                      %span.btn.btn-success.btn-xs
                        = content.trust 
                  %span.TaxonMentaData
                    - unless image.nil?
                      %b Photographed by:
                      = image.owner
              .col-xs-12.blog-content
                %br/
                - if @page.articles.size > 0
                  %h5 Comprehensive Description
                  = @page.articles.first
                - else
                  %h5 No Articles Associated
        .col-md-4
          %aside
            .widget.categories
              .well
                %h3
                  Classification
                %hr/
                -page_node = @page.nodes.first
                -tree = classification(page_node)
                -tree.each do |node|
                  %a{href:  "/pages/#{node.pages.first.id}"}
                    =node.canonical_form
                  \/
            .widget.categories
              -if @page.data.size > 0
                %h3
                  Selective Traits
                  %small.pull-right traits
                %table.table.table-striped
                  - @page.data.each do |trait|  
                    %tr
                      %td.text-right
                        %b 
                          =trait[:predicate][:name]
                        =trait[:predicate][:definition]
              -else
                %h3
                  Selective Traits
                  %small.pull-right traits
                %table.table.table-striped
                  %tr
                    %td.text-center
                      %b No Traits associated to this page
            .widget.categories
              %h3 Taxon Card
              .row
                .col-sm-12
                  .single_comments
                    %b= @page.scientific_name
                    =image_tag "avatar3.png", :alt => ""

            .widget.blog_gallery
              %h3 Refresh your memory
              %ul.sidebar-gallery
                %li
                  %a{:href => "https://education.eol.org/memory/"}
                    =image_tag "memory-game-icon.png", :alt => ""

