.container
  .row
    .col-md-12.blog
      .row
        .col-lg-12
          %br
          %h2.TaxonName
            = @page.scientific_name
            = render("tabs")
        .col-md-8
          .blog-item
            - image = @page.media.first
            - unless image.nil?
              %img.img-responsive{:alt => "", :src => image.base_url, :width => "100%"}/
            .row.ImgMetaData
              .col-xs-12
                .entry-meta
                  %span#publish_date
                    = @page.scientific_name
                    - unless image.nil?
                      - content = image.page_contents.find { |c| c.content_id == image.id }
                    - unless content.trust.nil?   
                      %span.btn.btn-success.btn-xs
                        = content.trust 
                  %span.TaxonMetaData
                    - unless image.nil? || image.owner.nil? || image.owner == "null"
                      %b #{t(:photographed_by)}
                      = image.owner
              .col-xs-12.blog-content
                %br/
                - if @page.articles.size > 0
                  %h5 #{t(:comprehensive_description)}
                  %a{href: "/pages/#{@page.id}/articles"}
                    =t(:articles)
                - else
                  %h5 #{t(:no_articles)}
        .col-md-4
          %aside
            .widget.categories
              .well
                %h3
                  Classification
                %hr/
                -page_node = @page.nodes.first
                -tree = classification_overview(page_node)
                -tree.each do |node|
                  -unless node.nil?
                    -unless node.pages.empty?
                      %a{href:  "/pages/#{node.pages.first.id}"} 
                        =node.scientific_name
                    -else
                      =node.scientific_name 
                  \/
            .widget.categories
              -if @page.data.size > 0
                %h3
                  #{t(:selective_traits)}
                  %small.pull-right traits
                %table.table.table-striped
                  - @page.data.each do |trait|  
                    %tr
                      %td.text-right
                        %b 
                          =trait[:predicate][:name]
                        =trait[:predicate][:definition]
              -else
                %h3
                  #{t(:selective_traits)}
                  %small.pull-right traits
                %table.table.table-striped
                  %tr
                    %td.text-center
                      %b #{t(:no_traits)}
            .widget.categories
              %h3 #{t(:taxon_card)}
              .row
                .col-sm-12
                  .single_comments
                    .col-lg-2.col-md-3.col-sm-1.col-xs-3.collectionImage.no-padding
                      %img.img-responsive{:alt => "", :src => "/assets/download.png"}/
                    .col-lg-10.col-md-9.col-sm-11.col-xs-9
                      %b 
                        #{@page.scientific_name}
            -#.widget.blog_gallery
              -#%h3 #{t(:refresh_memory)}
              -#%ul.sidebar-gallery
                -#%li
                  -#%a{:href => "http://fieldguides.eol.org/memory/"}
                    -#=image_tag "memory-game-icon.png", :alt => ""

