= render("overview")
= render("tabs")
- if @page.media.first
  = @page.scientific_name
  %br
  %div{:class => "medium"}
    %img{src: @page.media.first.base_url}
    %br
    = @page.media.first.owner
  - limit ||= 20
  - node ||= @page.node || @page.nodes.first
  - if node.children.any?
    %h4= @page.scientific_name+" includes"
    - node.children[0..limit-1].each do |child|
      =link_to child.scientific_name, page_path(child.page)
