%content#Content1{contentplaceholderid: "head", runat: "Server"}
%content#Content2{contentplaceholderid: "ContentPlaceHolder1", runat: "Server"}
  .MainPath
    .container
  .container
    .row
      .col-xs-12.col-sm-8.col-md-6
        = form_for(resource, as: resource_name, url: session_path(resource_name), validate: true, html: { class: "eol-userform recaptchad uk-form-stacked" },
          defaults: { input_html: { class: 'uk-input' },
          wrapper_html: { class: 'field' },
          label_html: { class: 'uk-form-label' } }) do |f| 
          %h2 #{t(:sign_in)}
          %hr.colorgraph/
          .row
            .col-md-6.form-group
              %input.form-control.input-lg{name: "user[email]", placeholder: "#{t(:email)}", tabindex: "1", type: "text", required: true}/
            .col-md-6.form-group
              %input.form-control.input-lg{name: "user[password]", placeholder: "#{t(:password)}", tabindex: "2", type: "password", required: true}/
          .row
            .col-md-12.form-group
              .checkbox
                %label
                  %input#login-remember{ name: "user[remember]", type: "checkbox"}/
                #{t(:remember_me)}
                .pull-right.text-right
                  %a{  id: "PW_100","data-toggle": "modal", onclick: "showPopup(this)", role: "button"} #{t(:forgot_your_password)}
            -unless params[:user].nil?
              -user = User.where("email = ? ", params[:user][:email]).first
              - if (!user.nil?) && (user.failed_attempts>=2)
                .row
                  .col-md-12.form-group
                    = f.label I18n.t(:recaptcha), required: true
                    = recaptcha_tags(theme: 'clean', callback: 'recaptchaCallback')
                    - if flash.any? { |name, msg| name == "recaptcha_error" }
                      %span.error
                        = I18n.t('recaptcha_error')
          .row
            .col-xs-12
              %input.btn.btn-success.btn-lg.btn-block{ type: "submit", value: "#{t(:sign_in)}"}/

          .row
            .col-md-12
              .login-or
                %hr.hr-or/
                %span.span-or #{t(:or)}
          .row
            - if devise_mapping.omniauthable?
              - action = controller_name == 'registrations' ? "sign_up" : "sign_in"
              .col-sm-4.form-group
                %a.btn.btn-primary.btn-block{ href: "/users/auth/facebook?intent=#{action}&locale=#{locale}" }
                  %i.fa.fa-facebook
              .col-sm-4.form-group
                %a.btn.btn-primary.btn-block{ href: "/users/auth/google_oauth2?intent=#{action}&locale=#{locale}" }
                  %i.fa.fa-google-plus
              .col-sm-4.form-group
                %a.btn.btn-primary.btn-block{ href: "/users/auth/twitter?intent=#{action}&locale=#{locale}" }
                  %i.fa.fa-twitter

            .col-md-12
              %p
                %a{ id: "CONF_100","data-toggle": "modal", onclick: "showPopup(this)", role: "button"} #{t(:no_confirmation_instructions)}
        .row
          %div
          .col-xs-12.col-sm-8
            %p.col-md-10.col-sm-10.col-xs-10
              #{t(:no_account)}
              %a{ href: new_user_registration_path} #{t(:sign_up)}

.modal{ id: "popup_PW_#{100}", "aria-labelledby": "popup_PW_#{100}Label", role: "dialog", tabindex: "-1"}
  .modal-dialog{ role: "document"}
    .modal-content
      .modal-header
        .form-group.row.form-inline
          .col-md-10.col-sm-10.col-xs-10
            %h2.editLabel.modal-title #{t(:resend_pw)}
          .col-md-2.col-sm-2.col-xs-2
            %button{ id: "PW_100", class: "btn btn-primary pull-right", tabindex: "1", onclick: 'hidePopup(this, event)'}x
      .modal-body
        .container
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            .form-group.row
              .col-md-6.col-sm-6.col-xs-6
                %input.form-control.input-lg{ name: "user[email]", placeholder: "#{t(:enter_email)}", tabindex: "1", type: "text", required: true}
            .form-group.row.form-inline
              .col-md-6.col-sm-6.col-xs-6
                = f.button("#{t(:resend_pw)}", class: "btn btn-primary pull-right")

.modal{ id: "popup_CONF_#{100}", "aria-labelledby": "popup_CONF_#{100}Label", role: "dialog", tabindex: "-1"}
  .modal-dialog{ role: "document"}
    .modal-content
      .modal-header
        .form-group.row.form-inline
          .col-md-10.col-sm-10.col-xs-10
            %h2.editLabel.modal-title #{t(:resend_confirmation_instructions)}
          .col-md-2.col-sm-2.col-xs-2
            %button{ id: "CONF_100", class: "btn btn-primary pull-right", tabindex: "1", onclick: 'hidePopup(this, event)'}x
      .modal-body
        .container
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
            .form-group.row
              .col-md-6.col-sm-6.col-xs-6
                %input.form-control.input-lg{ name: "user[email]", placeholder: "#{t(:enter_email)}", tabindex: "1", type: "text", required: true}
            .form-group.row.form-inline
              .col-md-6.col-sm-6.col-xs-6
                = f.button("#{t(:resend_confirmation_email)}", class: "btn btn-primary pull-right")
