= javascript_include_tag "pages"
.container
  %h4
    %strong
      Model Management
  - if @abstract_models
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th.shrink.model-name= t "admin.table_headers.model_name"
          %th.shrink.last-created= t "admin.table_headers.last_created"
          %th.records= t "admin.table_headers.records"
          %th.shrink.controls
      %tbody
        - @abstract_models.each do |abstract_model|
          - if authorized? :index, abstract_model
            - index_path = index_path(model_name: abstract_model.to_param)
            - row_class = "#{cycle("odd", "even")}#{" link" if index_path} #{abstract_model.param_key}_links"
            %tr{class: row_class, :"data-link" => index_path}
              - last_created = @most_recent_created[abstract_model.model.name]
              - active = last_created.try(:today?)
              %td
                %span.show= link_to capitalize_first_letter(abstract_model.config.label_plural), index_path, class: 'pjax'
              %td
                - if last_created
                  = t "admin.misc.time_ago", time: time_ago_in_words(last_created), default: "#{time_ago_in_words(last_created)} #{t("admin.misc.ago")}"
              %td
                - count = @count[abstract_model.model.name]
                - percent = count > 0 ? (@max <= 1 ? count : ((Math.log(count+1) * 100.0) / Math.log(@max+1)).to_i) : -1
                .progress{style: "margin-bottom:0px", class: "progress-#{get_indicator(percent)} #{active && 'active progress-striped'}"  }
                  .progress-bar.animate-width-to{:class => "progress-bar-#{get_indicator(percent)}", :'data-animate-length' => ([1.0, percent].max.to_i * 20), :'data-animate-width-to' => "#{[2.0, percent].max.to_i}%", style: "width:2%"}
                    = @count[abstract_model.model.name]
              %td.links
                %ul.inline.list-inline
                  = menu_for :collection, abstract_model, nil, true
  .login-or
    %hr.hr-or/
    %span.span-or.BGwhite
  %h4
    %strong
      = t(:harvesting_management)
  %table.table.table-condensed.table-striped
    %tbody
      %tr
        %td
          %a{href: main_app.resources_path}
            = t(:show_harvests_per_resource)
      %tr
        %td
          %a{href: main_app.harvests_index_path}
            = t(:show_all_harvests)
      %tr
        %td
          %a{id: "currentHarvest", onclick: 'showPopup(this)', onmouseover: "showOver(this)", onmouseout:"hideOver(this)"}
            = t(:show_current_harvest)
      %tr
        %td
          %a{href: main_app.pending_harvests_path}
            = t(:show_pending_harvests)
  .login-or
    %hr.hr-or/
    %span.span-or.BGwhite
  %h4
    %strong
      = t(:content_partner_management)
  %table.table.table-condensed.table-striped
    %tbody
      %tr
        %td
          %a{href: main_app.content_partners_path}
            = t(:show_all_content_partners)
  .login-or
    %hr.hr-or/
    %span.span-or.BGwhite
  %h4
    %strong
      %a{href: refinery.admin_root_path}
        = t(:cms_management)
  .login-or
    %hr.hr-or/
    %span.span-or.BGwhite
  = render "current_harvest_modal"
