= javascript_include_tag 'pages'
%ul.uk-grid-small
  - media_ids = media.map { |image| "image_modal_#{image.id}" }
  - media.each_with_index do |image, index|
    - image_id = image.id
    %div{ id: "#{image.id}", onclick: 'showPopup(this)', onmouseover: "showOver(this)", onmouseout: "hideOver(this)"}
      %br
        %div{ class: "content"}
          %img{ src: image.base_url, width:"260", height:"190", class: "content_image" }
          %div{ id: "hover_#{image.id}", style: "display:none;", class: "hover"}
            - content = image.page_contents.find { |c| c.content_id == image.id }
            = content.trust unless content.trust.nil?
        %div{ id: "popup_#{image.id}" , style: "display:none;", class: "popup"}
          .uk-modal-dialog
            = link_to(image.name, medium_path(image))
            %button{ id: "#{image.id}", class: "btn", onclick: 'hidePopup(this, event)'}close
            %br
            = image.owner
            %br
            %img{ src: image.base_url, width:"600", height:"600"}
                