.container
  .row
    .col-xs-12.col-sm-8.col-md-6
      %h2
        #{t(:welcome)} #{@email}!
      %h3 
        #{t(:confirm_account_from_link)} :
      %h2
        = link_to "#{t(:confirm_account)}", confirmation_url(@resource, confirmation_token: @token)
