.container
  %h2
    #{t(:hello)}, #{@email}!
  - if @resource.try(:unconfirmed_email?)
    %h3
      #{t(:email_changed_notification)} #{@resource.unconfirmed_email}.
  - else
    %h3
      #{t(:email_changed_notification)} #{@resource.email}.

