.container
  .row
    .col-xs-12.col-sm-8.col-md-6
      %h2
        #{t(:hello)} {@resource.username}!
      %h3 
        #{t(:change_password_from_link)}
      %h2
        = link_to "#{t(:change_password)}", edit_password_url(@resource, reset_password_token: @token)
      %h3
        #{t(:ignore_if_not_you)}
      %h3
        #{t(:password_wont_change)}