= javascript_include_tag 'display_input'
%script{ src: "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"}
.container
  .row
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
      = simple_form_for @content_partner, url: {action: :update, controller: 'content_partners'}, method: :put,
          html: {class: "", multipart: true},
          defaults: {input_html: {class: 'uk-input'}, wrapper_html: {class: 'field'},
          enctype: "multipart/form-data", label_html: {class: 'uk-form-label'}} do |form|
        %h2
          = t(:edit_content_partner_header)
        %div.form-horizontal.formStyle
          .form-group.row.form-inline
            %label.col-md-2.col-sm-3.col-xs-12.control-label
              %span{ style: "color: red"}> *
              = t(:name)
            .col-md-10.col-sm-9.col-xs-12
              %input.form-control.input-lg{name: "content_partner[name]", value: @content_partner.name, tabindex: "1", type: "text"}
          .form-group.row.form-inline
            %label.col-md-2.col-sm-3.col-xs-12.control-label
              = t(:abbreviation)
            .col-md-10.col-sm-9.col-xs-12
              %input.form-control.input-lg{ name: "content_partner[abbreviation]",
              value: @content_partner.abbreviation, tabindex: "2", type: "text"}
          .form-group.row.form-inline
            %label.col-md-2.col-sm-3.col-xs-12.control-label
              = t(:url)
            .col-md-10.col-sm-9.col-xs-12
              %input.form-control.input-lg{name: "content_partner[url]", value: @content_partner.url, tabindex: "3", type: "text"}
          .form-group.row.form-inline
            %label.col-md-2.col-sm-3.col-xs-12.control-label
              %span{style: "color: red"}> *
              = t(:description)
            .col-md-10.col-sm-9.col-xs-12
              %input.form-control.input-lg{name: "content_partner[description]", value: @content_partner.description,
              tabindex: "3", type: "text"}
          .form-group.row.form-inline
            %label.col-md-2.col-sm-3.col-xs-12.control-label
              = t(:logo)
            .col-md-10.col-sm-9.col-xs-12
              %label.custom-file-upload{for: "file-upload"}
                = t(:browse)
              %input#file-upload{type: "file", name: "content_partner[logo]", style: "display:none;", onchange: 'file_checked();'}
            %label.col-md-2.col-sm-3.hidden-xs.control-label
            %label#label_data.col-md-10.col-sm-9.col-xs-12.control-label.selectedFile
              - unless @logo_name == "path"
                = @logo_name
          .input-group
            %hr.colorgraph
              .row
                .col-xs-12
                  = resource_error_messages(@content_partner)
                  %input.btn.btn-primary{ tabindex: "5", type: "submit", value: "#{t(:update_button)}"}
                  = link_to "#{t(:back)}", user_path(id: ContentPartnerUser.where(content_partner_id: params[:id]).first.user_id),
                   class: "btn btn-primary"

