%content#Content1{:contentplaceholderid => "head", :runat => "Server"}
%content#Content2{:contentplaceholderid => "ContentPlaceHolder1", :runat => "Server"}
  .MainPath
  .container
    .row
      .col-lg-12
        %h2.mainTitle
          = @content_partner.name
      .col-md-8
        .part
          .subtitle
            Description
          %p
            = @content_partner.description
            %hr/
            -if !@content_partner.url.nil?
              %strong web:
              %a{:href => "#{@content_partner.url}"} 
                = @content_partner.url
      .col-md-4
        %aside
          .widget.categories.contentManger
            %span
              %b Managed by
            .row
              .col-sm-12
                .single_comments
                  %img{:alt => "", :src => "../images/blog/avatar3.png"}/
                  %p{:style => ""}
                    %a{:href => "#"}
                      = @content_partner.user.username
          .widget.categories.Resources
            .greyBox
              %h3.ResourcesIcon
                Resources
              %hr/
              %ul
                - @content_partner.resources.each do |resource|
                  %li
                    %a{:href => "#{content_partner_resource_path(@content_partner.id, resource.id)}"} 
                      = resource.name
                  