%content#Content1{:contentplaceholderid => "head", :runat => "Server"}
%content#Content2{:contentplaceholderid => "ContentPlaceHolder1", :runat => "Server"}
  .MainPath
  .container
    .row
      .col-lg-12
        %h2.mainTitle
          = @content_partner.name
          %span.pull-right
            -content_partner_user = User.find(ContentPartnerUser.find_by_content_partner_id(params[:id]).user_id)
            -if(content_partner_user==current_user)
              %a.btn.btn-primary{:href => "#{edit_content_partner_path(id: @content_partner.id)}", :role => "button"}
                #{t(:edit_button)}
      .col-md-8
        .part
          .subtitle
            #{t(:description)}
          %p
            = @content_partner.description
            %hr/
            -if !@content_partner.url.nil?
              %strong web:
              %a{:href => "#{@content_partner.url}"} 
                = @content_partner.url
      .col-md-4
        %aside
          .widget.categories.contentManger
            %span
              %b #{t(:managed_by)}
            .row
              .col-sm-12
                .single_comments
                  %img{:alt => "", :src => "/assets/avatar3.png"}/
                  %p{:style => ""}
                    %a{:href => "#"}
                      = @content_partner.user.username
          .widget.categories.Resources
            .greyBox
              %h3.ResourcesIcon
                #{t(:resources)}
                -content_partner_user = User.find(ContentPartnerUser.find_by_content_partner_id(params[:id]).user_id)
                -if(content_partner_user==current_user)                
                  %a.btn-addResource{href: "#{ new_content_partner_resource_path(content_partner_id: @content_partner.id)}"}
                    %span.pull-right  +
              %hr/
              %ul
                - @content_partner.resources.each do |resource|
                  %li
                    %a{:href => "#{content_partner_resource_path(@content_partner.id, resource.id)}"} 
                      = resource.name
                  
