- count = 1
- exists_in_all_collections = true
- user_collections = current_user.collections
.modal-body{style: "padding-bottom:0;"}
  - if(user_collections.empty?)
    - exists_in_all_collections = false
    %h4
      #{t(:no_collections_yet)}
  - else
    - user_collections.each do |collection|
      - unless CollectedPage.where(collection_id: collection.id, page_id: @page.id).exists?
        - exists_in_all_collections = false    
 
  - if (exists_in_all_collections)
    %h4
      #{t(:exists_in_all_collections)}
  - elsif(!user_collections.empty?)
    %h4
      #{t(:add_to_existing_collection)}
    = form_for(CollectedPage.create, html: { class: "form" }) do |f|
      - user_collections.each do |collection|
        %h4
          = f.hidden_field(:page_id, value: page_id)
          = f.radio_button(:collection_id, collection.id, class: "uk-radio", checked: count == 1 ? "checked" : false)
          = f.label(:collection_id, collection.name)
        - count += 1
        .modal-footer{style: "padding-bottom:0; margin-top:0;"}
          = f.button("#{t(:add_button)}", class: "btn btn-primary")
  .row
    .col-md-12
      %h3.login-or
        %hr.hr-or/
        %span.span-or.BGwhite #{t(:or)}
.modal-body{style: "padding-bottom:0;"}
  %h4
    #{t(:add_to_new_collection)}
  = form_for(Collection.create) do |f|
    %input.form-control{name: "collection[name]", tabindex: "1", type: "text", required: true, placeholder: "#{t(:name)}"}
    %textarea.form-control{name: "collection[description]", rows: "3", tabindex: "1", type: "text",
     placeholder: "#{t(:description)}", style: "margin-top: 5%"}
    .modal-footer{style: "padding-bottom:0; margin-top:0;"}
      = f.button("#{t(:create_collection_button)}", class: "btn btn-primary")
