= javascript_include_tag 'pages'
= javascript_include_tag 'search'
- @url = request.original_url.split('?', 2).first
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type", name:"turbolinks-visit-control", content:"reload"}/
    %title EOL
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / core CSS
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => "reload"
    = stylesheet_link_tag 'Custom-ar'
    = stylesheet_link_tag 'Custom-en'
    = stylesheet_link_tag 'Custom'
    = stylesheet_link_tag 'responsive-ar'
    = stylesheet_link_tag 'responsive-en'
    = stylesheet_link_tag 'responsive'
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'animate.min'
    = stylesheet_link_tag 'font-awesome'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'prettyPhoto'
    = stylesheet_link_tag 'Suzan'
    = stylesheet_link_tag 'slider'
    = stylesheet_link_tag 'haml'
    = javascript_include_tag 'application', 'data-turbolinks-track' => "reload"
    = csrf_meta_tags
    %header#header
      %nav.navbar.navbar-inverse{:role => "banner", :data-turbolinks => "false"}
        .container
          .row
            .col-lg-7.col-md-6.col-sm-6.col-xs-12
              .navbar-header
                %a.navbar-brand{:href => "/?locale=#{locale}"}
                  =image_tag "eol_logo.png", :alt => "logo"
                %ul.topMenu
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown"}
                      #{t(:language)}
                      %i.fa.fa-angle-down
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#{@url}?locale=en"} English
                      %li
                        %a{:href => "#{@url}?locale=ar"} العربية
                  .mainMenu
                    - unless current_page?('/')
                      %button.btn-search{:id => "0","data-toggle" => "modal",:onclick => "showPopup(this)",:role => "button"}
                        %i.fa.fa-search{"aria-hidden" => "false"}
                    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                      %span.sr-only Toggle navigation
                      %span.icon-bar
                      %span.icon-bar
                      %span.icon-bar
                  -# %span.menuText.hidden-sm.hidden-xs
                    -# menu
              .collapse.navbar-collapse.navbar-left
                %ul.nav.navbar-nav
                  %li
                    %a{:href => "https://eol.org/docs/what-is-eol"}
                      %i.fa.fa-info-circle{"aria-hidden" => "true"}
                      #{t(:about_eol)}
                  %li
                    %a{:href => "https://eol.org/docs/what-is-eol/whats-new"}
                      %i.fa.fa-newspaper-o{"aria-hidden" => "true"}
                      #{t(:news)}
                  %li
                    %a{:href => "https://discuss.eol.org/"}
                      %i.fa.fa-question-circle{"aria-hidden" => "true"}
                      #{t(:help)}
            .col-lg-5.col-md-6.col-sm-6.col-xs-12.coloredMenu
              %ul.topMenu
                %li
                  - unless user_signed_in?
                    %a.signIn{:href => "/users/sign_in?locale=#{locale}"}
                      %i.fa.fa-user-circle{"aria-hidden" => "true"}
                      #{t(:sign_in)}
                  - else
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        %i.fa.fa-user-circle{"aria-hidden" => "true"}
                        #{current_user.username}
                        %i.fa.fa-angle-down
                      %ul.dropdown-menu
                        %li
                          %a{:href => "/users/#{current_user.id}?locale=#{locale}"} #{t(:show_user_profile)}
                        %li
                          %a.signIn{:href => "/users/sign_out?locale=#{locale}",:method => :delete} #{t(:sign_out)}
                %li.dropdown
                  %a.dropdown-toggle.NetworksLink{"data-toggle" => "dropdown"}
                    #{t(:networks)}
                    %i.fa.fa-angle-down
                  %ul.dropdown-menu
                    %li
                      %a{:href => "https://education.eol.org/", :target => "_blank"} #{t(:learning_education)}
                %li
                  %a.DonateBtn{:href => "https://support.si.edu/site/SPageServer?pagename=api_eol_main\&s_src=web_eol_fl"} #{t(:donate_button)}
          - unless current_page?('/')
            .modal{:id => "popup_#{0}","aria-labelledby" => "popup_#{0}Label", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content
                  .modal-header
                    .form-group.row.form-inline
                      .col-md-10.col-sm-10.col-xs-10
                        %h2.editLabel.modal-title #{t(:search_network)}
                      .col-md-2.col-sm-2.col-xs-2
                        %button{ :id =>"0", :class => "btn btn-primary pull-right", :tabindex => "1", :onclick=> 'hidePopup(this, event)'}x
                  .modal-body
                    .searchBox
                      = form_tag('/search', method: :get) do |f|
                        -#.form-control                     
                        = text_field_tag(:query, params[:query],:placeholder => t(:search_placeholder), :class => "modal-body searchBox")
                        = hidden_field_tag('locale', params[:locale])
                        -# %input.form-control.input-lg{:name => "query", :placeholder => t(:search_placeholder), :tabindex => "1", :type => "text", :class => "form-control"} 
                        %button.searchButton
                          %i.fa.fa-search{"aria-hidden" => "true"}
    %body
      = render("layouts/flash")
      .container-fluidd
        .content
          = yield
      %script{:src => "assets/js/jquery.js"}
      %script{:src => "assets/js/bootstrap.min.js"}
      %script{:src => "assets/js/jquery.prettyPhoto.js"}
      %script{:src => "assets/js/jquery.isotope.min.js"}
      %script{:src => "assets/js/main.js"}
      %script{:src => "assets/js/wow.min.js"}
      %script{:src => "assets/js/multislider.js"}
  %footer#footer.midnight-blue
    .container
      .row
        .col-sm-6.col-xs-12
          %ul
            %li
              %a{:href => "https://eol.org/docs/what-is-eol/terms-of-use"} #{t(:terms_of_use)}
            %li
              %a{:href => "https://support.si.edu/site/SPageServer?pagename=api_eol_main\&s_src=web_eol_fl"} #{t(:donate_button)}
            %li
              %a{:href => "https://discuss.eol.org/t/contact-us-at-eol/181"} #{t(:contact_us)}
        .col-sm-6.col-xs-12
          .social
            %ul.social-share
              %li #{t(:follow_us)}
              %li
                %a{:href => "https://www.facebook.com/encyclopediaoflife/"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "https://twitter.com/eol"}
                  %i.fa.fa-twitter
= content_for :render_async
