= hidden_field_tag("locale", "#{params[:locale]}")
= javascript_include_tag 'pages' 
= javascript_include_tag 'jquery' 
= javascript_include_tag 'search'

- @is_root = ((current_page? main_app.root_path) || (current_page? "/")) ? 1 : 0
- @is_visitor = current_user.nil? ? "visitor" : "#{current_user.username}_#{current_user.id}_#{current_user.admin}"


%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title 
      - if defined?(@page_title)
        = strip_tags(sanitize(@page_title))
      - else
        = t(:encyclopedia_of_life)
    %meta{ charset: "utf-8"}/
    %meta{ content: "IE=edge,chrome=1", "http-equiv": "X-UA-Compatible"}/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    / core CSS
    = stylesheet_link_tag 'application', media: 'all'
    -#%link{rel: "stylesheet", href: "/assets/bootstrap.min.css"}
    -#%link{rel: "stylesheet", href: "/assets/font-awesome.css"}
    -#%link{rel: "stylesheet", href: "/assets/main-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/slider-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/Suzan-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/animate.min-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/prettyPhoto-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/bootstrap.rtl.min.css"}
    -#%link{rel: "stylesheet", href: "/assets/font-awesome.min-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/responsive-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/Custom-ar.css"}
    -#%link{rel: "stylesheet", href: "/assets/Custom-en.css"}
    -#%link{rel: "stylesheet", href: "/assets/responsive-en.css"}
    -#%link{rel: "stylesheet", href: "/assets/Suzan-en.css"}
    -#%link{rel: "stylesheet", href: "/assets/main.css"}
    -#%link{rel: "stylesheet", href: "/assets/prettyPhoto.css"}
    -#%link{rel: "stylesheet", href: "/assets/Suzan.css"}
    -#%link{rel: "stylesheet", href: "/assets/slider.css"}
    -#%link{rel: "stylesheet", href: "/assets/haml.css"}
    -#%link{rel: "stylesheet", href: "/assets/Custom.css"}
    -#%link{rel: "stylesheet", href: "/assets/responsive.css"}
    -#%link{rel: "stylesheet", href: "/assets/animate.min.css"}

    = stylesheet_link_tag 'bootstrap.min.css'
    = stylesheet_link_tag 'font-awesome.css'
    = stylesheet_link_tag 'main.css'
    = stylesheet_link_tag 'prettyPhoto.css'
    = stylesheet_link_tag 'Suzan.css'
    = stylesheet_link_tag 'slider.css'
    = stylesheet_link_tag 'haml.css'
    = stylesheet_link_tag 'Custom.css'    
    = stylesheet_link_tag 'responsive.css'
    = stylesheet_link_tag 'animate.min.css'
    
    - if params[:locale] == "ar"
      = stylesheet_link_tag 'bootstrap.rtl.min.css'
      = stylesheet_link_tag 'Custom-ar.css'
      = stylesheet_link_tag 'responsive-ar.css'
      = stylesheet_link_tag 'prettyPhoto-ar.css'
      = stylesheet_link_tag 'animate.min-ar.css'
      = stylesheet_link_tag 'main-ar.css'
      = stylesheet_link_tag 'slider-ar.css'
      = stylesheet_link_tag 'font-awesome.min-ar.css'
      = stylesheet_link_tag 'Suzan-ar.css'
    - else
      = stylesheet_link_tag 'Custom-en.css'
      = stylesheet_link_tag 'responsive-en.css'
      = stylesheet_link_tag 'Suzan-en.css'
    = javascript_include_tag 'application'    
    = csrf_meta_tags
 
      
    - cache_unless(controller_path == "pages", ["header", @is_root, @is_visitor, request.original_fullpath, locale.to_s], expires_in: 1.day) do    
      %header#header
        %nav.navbar.navbar-inverse{ role: "banner"}
          .container
            .row
              .col-lg-7.col-md-6.col-sm-6.col-xs-12
                .navbar-header{id: "header123"}
                  %a.navbar-brand{href: root_path}
                    - if params[:locale] == "ar"
                      = image_tag "ar_logo.png", alt: "logo", "height": "85"
                    - else
                      = image_tag "eol_logo.png", alt: "logo"
                  %ul.topMenu
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle": "dropdown"}
                        #{t(:language)}
                        %i.fa.fa-angle-down
                      %ul.dropdown-menu
                        %li
                          = link_to "English", request.params.merge(locale: 'en')
                        %li
                          = link_to "العربية", request.params.merge(locale: 'ar')
                  %ul.topMenu
                    .mainMenu
                      - unless ((current_page? "#{main_app.root_path}") || (current_page? "/"))
                        %button.btn-search{ id: "0","data-toggle": "modal", onclick: "showPopup(this)", role: "button"}
                          %i.fa.fa-search{"aria-hidden": "false"}
                      %button.navbar-toggle{"data-target": ".navbar-collapse", "data-toggle": "collapse", type: "button"}
                        %span.sr-only Toggle navigation
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar   
                .collapse.navbar-collapse.navbar-left
                  %ul.nav.navbar-nav
                    %li
                      %a{href: "/#{locale}/docs/about"}
                        %i.fa.fa-info-circle{"aria-hidden": "true"}
                        #{t(:about_eol)}
                    %li
                      %a{href: "/#{locale}/docs/about/what-is-new"}
                        %i.fa.fa-newspaper-o{"aria-hidden": "true"}
                        #{t(:news)}
                    %li
                      %a{href: "https://discuss.eol.org/"}
                        %i.fa.fa-question-circle{"aria-hidden": "true"}
                        #{t(:help)}
              .col-lg-5.col-md-6.col-sm-6.col-xs-12.coloredMenu
                %ul.topMenu
                  %li
                    - unless user_signed_in?
                      %a.signIn{href: main_app.new_user_session_path}
                        %i.fa.fa-user-circle{"aria-hidden": "true"}
                        #{t(:sign_in)}
                    - else
                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
                          %i.fa.fa-user-circle{"aria-hidden": "true"}
                          #{current_user.username}
                          %i.fa.fa-angle-down
                        %ul.dropdown-menu
                          %li
                            %a{ href: main_app.user_path(current_user.id)} #{t(:show_user_profile)}
                          - if current_user.admin?
                            %li
                              %a{ href: refinery.admin_root_path} #{t(:view_admin_panel)}
                          %li
                            %a.signIn{ href: main_app.destroy_user_session_path} #{t(:sign_out)}
                  %li.dropdown
                    %a.dropdown-toggle.NetworksLink{"data-toggle": "dropdown"}
                      #{t(:networks)}
                      %i.fa.fa-angle-down
                    %ul.dropdown-menu
                      %li
                        %a{ href: "https://education.eol.org/", target: "_blank"} #{t(:learning_education)}
                  %li
                    %a.DonateBtn{ href: "https://eol.org/docs/what-is-eol/donate"} #{t(:donate_button)}
                    
          - unless ((current_page? "#{main_app.root_path}") || (current_page? "/"))
            .modal{ id: "popup_#{0}", "aria-labelledby": "popup_#{0}Label", role: "dialog", tabindex: "-1"}
              .modal-dialog{ role: "document"}
                .modal-content
                  .modal-header
                    .form-group.row.form-inline
                      .col-md-10.col-sm-10.col-xs-10
                        %h2.editLabel.modal-title #{t(:search_network)}
                      .col-md-2.col-sm-2.col-xs-2
                        %button{ id: "0", class: "btn btn-primary pull-right", tabindex: "1", onclick: 'hidePopup(this, event)'}x
                  .modal-body
                    .searchBox
                      = form_tag(main_app.search_path, method: :get) do |f|
                        = text_field_tag(:query, params[:query], placeholder: t(:search_placeholder), class: "modal-body searchBox", required: "true")
                        %button.searchButton
                          %i.fa.fa-search{"aria-hidden": "true", remote: true}
    %body
      = render("layouts/flash")
      .container-fluidd
        .content
          = yield
        = javascript_include_tag 'bootstrap.min'
        = javascript_include_tag 'jquery.prettyPhoto'
        = javascript_include_tag 'jquery.isotope.min'
        = javascript_include_tag 'main'
        = javascript_include_tag 'wow.min'
        = javascript_include_tag 'multislider'

  - cache(["footer", @is_root, @is_visitor, controller_path, action_name, locale.to_s], expires_in: 1.day) do
    %footer#footer.midnight-blue
      .container
        .row
          .col-sm-6.col-xs-12
            %ul
              %li
                %a{href: "/#{locale}/docs/about/terms-of-use"} #{t(:terms_of_use)}
              %li
                %a{href: "https://eol.org/docs/what-is-eol/donate"} #{t(:donate_button)}
              %li
                %a{href: "/#{locale}/discuss/contact-us"} #{t(:contact_us)}
              %li
                %a{href: "/#{locale}/docs/about/terms-of-use/citing-eol"} #{t(:citing_eol)}
              %li
                %a{href: "/#{locale}/docs/about/data-services"} #{t(:data_services)}
               
          .col-sm-6.col-xs-12
            .social
              %ul.social-share
                %li #{t(:follow_us)}
                %li
                  %a{href: "https://www.facebook.com/encyclopediaoflife/", onmouseover: "this.style.background= '#3b5998'", onmouseout: "this.style.background= '#404040'"}
                    %i.fa.fa-facebook
                %li
                  %a{href: "https://twitter.com/eol", onmouseover: "this.style.background= '#1da1f2'", onmouseout: "this.style.background= '#404040'"}
                    %i.fa.fa-twitter
= content_for :render_async
